<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ChartIQ</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>EXDefaultScreenOrientationMask</key>
	<string>UIInterfaceOrientationMaskAllButUpsideDown</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<!-- Do not change NSAllowsArbitraryLoads to true, or you will risk app rejection! -->
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>chartiq.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>mobile.demo.chartiq.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>WKAppBoundDomains</key>
	<array>
		<string>chartiq.com</string>
		<string>mobile.demo.chartiq.com</string>
		<string>*.chartiq.com</string>
		<string>*.demo.chartiq.com</string>
	</array>
	<key>NSAllowsArbitraryLoadsInWebContent</key>
	<true/>
	<key>WKWebViewConfiguration</key>
	<dict>
		<key>AllowsInlineMediaPlayback</key>
		<true/>
		<key>allowsBackForwardNavigationGestures</key>
		<true/>
		<key>preferences.javaScriptEnabled</key>
		<true/>
		<key>preferences.javaScriptCanOpenWindowsAutomatically</key>
		<true/>
		<key>WebKitPreferences.allowsContentJavaScript</key>
		<true/>
		<key>WebKitPreferences.javaScriptCanOpenWindowsAutomatically</key>
		<true/>
		<key>WebKitPreferences.developerExtrasEnabled</key>
		<true/>
		<key>WebKitPreferences.allowFileAccessFromFileURLs</key>
		<true/>
		<key>WebKitPreferences.allowUniversalAccessFromFileURLs</key>
		<true/>
	</dict>
	<key>EnableWebKitDebugProxy</key>
	<true/>
	<key>WKWebViewDataStore</key>
	<dict>
		<key>websiteDataStore</key>
		<string>WKWebsiteDataStoreDefaultStore</string>
		<key>allowsWebPrivacy</key>
		<true/>
	</dict>
</dict>
</plist>
